@import "tailwindcss";
@import '@fontsource/fira-mono';

:root {
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	color: var(--color-light);
}

@theme{
    --color-white: #fdfefd;
    --color-light: #e1e4e1;
    --color-black: #0a0c0a;
    --color-dark: #292b29;
    --color-red: #ee2531;
    --color-blue: #274595;
    --color-yellow: #efd212;

    --font-display: "Inter" serif;
}

body {
	min-height: 100vh;
	margin: 0;
    font-style: var(--font-display);

	background-attachment: fixed;
	background-color: var(--color-black);
	background-size: 100vw 100vh;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			var(--color-dark) 0%,
			var(--color-black) 100%
		);
}

@layer components{
    .content-grid {
        --padding-inline: 1rem;
        --content-max-width: 1200px;
        --breakout-max-width: 1600px;
        --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);
    
        display: grid;
        grid-template-columns:
            [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2),
                var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
    
        & > :not(.breakout, .full-width) {
            grid-column: content;
        }
        
        & > .breakout {
            grid-column: breakout;
        }
        
        & > .full-width {
            grid-column: full-width;
        }
    }

    .title-1 {
        font-size: 6rem;
        font-weight: 600;
        background: linear-gradient(to bottom right, #fff4af 0%, #ffa5b0 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        line-height: .9;
    }
}

@media screen and (min-width: 1000px){
    .title-1 {
        font-size: 10rem;
    }
}

.text-gradient {
    background: linear-gradient(to bottom right, #fff4af 0%, #ffa5b0 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


a:hover {
	text-decoration: underline;
}

